.pkmn-card {
  display: flex;
  justify-self: center;
  flex-direction: column;

  text-transform: capitalize;
  margin: 20px;
  padding: 20px 20px;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
}

.pkmn-card-header {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-items: flex-start;

  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  margin: -20px -20px 20px -20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pkmn-card-front {
}

.pkmn-card-front:hover {
}

.pkmn-card-back {
  display: none;
}

.pkmn-id {
  font-size: 15px;
}
.pkmn-name {
  margin-left: 10px;
  text-transform: capitalize;

  font-weight: 700;
}

.pkmn-pic {
  background-color: rgba(255, 255, 255, 0.3); /* opacity: 0.2; */
  border-radius: 50%;
  margin-bottom: 20px;
}

.pkmn-pic img {
  width: 200px;
}

.pkmn-types {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pkmn-types span {
  border-radius: 5px;
  padding: 4px;
  width: 55px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
  margin: 0 2.5px;
}

.pkmn-physical {
  display: flex;
  flex-direction: row;
  text-transform: none;
}

.pkmn-physical div {
}

.pkmn-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  margin: 20px -20px -20px -20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pkmn-recruit img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 20px;
}

.pkmn-recruit:focus {
  outline: none;
}
