.pkmn-card-container {
  padding: 10px;
  background-color: lightblue;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 150px;
}

.pkmn-card {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  text-transform: capitalize;
  height: 150px;
}

.pkmn-pic {
  background-color: rgba(255, 255, 255, 0.5);
  /* opacity: 0.2; */
  display: block;
  border-radius: 50%;
}

.pkmn-pic img {
  width: 150px;
}

.pkmn-info {
  margin-left: 20px;
  padding: 0px;
  margin-right: auto;
}

.pkmn-info-id {
  font-size: 15px;
}

.pkmn-info-name {
  font-size: 30px;
}

.pkmn-info-types {
  display: inline-flex;
}

.pkmn-info-types span {
  color: #fff;
  font-size: 15px;
  margin-right: 5px;
  padding: 4px;
  border-radius: 5px;
  width: 50px;
  text-align: center;
}

.pkmn-recruit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 75px;
  min-height: 170px;
  margin-right: -10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pkmn-recruit img {
  width: 25px;
}
