.pokemon-list {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.list {
  height: 20px;
  width: 50vw;
  list-style: none;
  border-style: none;
}

.list li {

}

.list li:last-child {
  border-style: none;
  margin-bottom: 0px;
}
